---

#- name: Update apt cache  #title show ra cho coi
#  command: apt update

- name: Install pip
  become: yes
  apt:
    name: python-pip
    state: present


- name: Install pydf
  pip:
    name: pydf
    state: present

